body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  max-width: 50em;
  background: #23272A;
  color: white;
  margin: auto;
  text-align: center;
}



h1, h2 {
  color: #ffffff;
}

.input {
  background: #99AAB5;
  color: #ffffff;
  tex
}


.messages {
  text-align: left;
  padding: 8px;
  background: #2C2F33;
  border: 4px solid #99AAB5;
  height: 300px;
  overflow-y: scroll;
  margin: 8px 0px;
  
}

.messages > div {
  padding: 8px 0px; 
}

.messages > div > span {
  color:#ffffff;
  font-weight: bold;
}

.messages > div > p {
  color: #ffffff;
  margin: 0px;
  padding: 4px 0px;
}

.username {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 18px;
  padding: 4px;
  height: 18px;
  width: 300px;
  border: none;
  border-radius: 8px;
}
.message {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 18px;
  padding: 4px;
  height: 18px;
  width: 300px;
  border: none;
  border-radius: 8px;
}

.button {
    line-height: 1.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    border-radius: 6px;
    background: #7289DA;
    border: 2px solid #99AAB5;
}





